.next-page,
.learn-guess-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 450px;
  background-color: rgb(46, 81, 116);
  padding: 10px;
  color: #f0f8ff;
  margin: auto;
  margin-top: 10px;
  border-radius: 1em;
  border: 2px solid rgba(16, 37, 90, 0.331);
  box-shadow: 5px 10px 20px 3px #888888;
}


.original-word {
  font-size: 30px;
  border: 3px solid #444;
  border-radius: 0.3em;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

.learn-guess-form label {
  margin: 10px;
  padding: 0;
}

.learn-guess-form input {
  text-align: center;
  font-size: 24px;
  margin: 5px auto;
}

.learn-button {
  margin: 10px auto;
  padding: 10px;
  font-size: 20px;
}
