header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(46, 81, 116);
    border-bottom: 1px solid rgb(0, 27, 84);
}

header h1 {
    margin: 5px 0 12px 10px;
    align-self: center;
}

header nav {
    margin-bottom: 20px;
}

header a,
.usernameDisplay {
    color: #f0f8ff;
    margin-right: 10px;
}

header a:hover {
    text-shadow: 0px 0px 1px rgb(255, 255, 255);
    transition-duration: 0.7s;
}

@media all and (min-width: 500px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    header h1 {
        margin: 10px 0 15px 10px;
    }
    header nav {
        margin: 15px 0;
    }
    header .usernameDisplay {
        margin-top: 10px;
    }
}
