h2 {
  font-size: 30px;
}

h3 {
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 20px;
  margin: 5px;
}

.language-name {
  text-align: center;
  font-size: 24px;
  background-color: #c1cfe6;
  width: 60%;
  border-radius: 3em 3em 0 0;
  padding: 10px 5px;
  margin: 10px auto 0 auto;
}

.word-list {
  margin: 0 10px;
  border: 2px solid #888;
  border-radius: 0.25em;
}

ul {
  padding: 0;
  margin: 0;
}

.word-list .word-list-item {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 5px 0;
  list-style: none;
}

.word-list .word-list-item:nth-child(even) {
  background-color: #c1cfe6
}

.word-list .word-list-item .table-category,
.word-list .word-list-item .item-info {
  width: 100%;
  align-self: center;
}

.word-list .word-list-item h4 {
  text-align: left;
  padding-left: 5px;
}

section {
  text-align: center;
}

.total-score {
  margin: 15px;
}

button.learn {
  background-color: rgb(46, 81, 116);
  color: #f0f8ff;
  font-size: 24px;
  border: 3px solid #222;
  border-left: 3px solid #555;
  border-top: 3px solid #555;
  border-radius: 0.25em;
  text-align: center;
  padding: 10px;
  outline: none;
}
button.learn:hover {
  background-color: rgb(119, 170, 221);
}
button.learn:active {
  border: 3px solid #555;
  border-left: 3px solid #222;
  border-top: 3px solid #222;
  background-color: rgb(16, 51, 87);
  
}

@media all and (min-width: 500px) {
  .language-name {
    max-width: 350px;
  }
  .word-list {
    width: 85%;
    margin: auto;
    min-width: 480px;
    max-width: 700px;
    font-size: 18px;
  }
}